@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #FFFFFF;
  margin: 80px 10px;
  background: linear-gradient(155deg, rgba(76,96,211,1) 0%, rgba(255,220,130,1) 40%, rgba(255,220,130,1) 60%, rgba(209,46,146,1) 100%);
}

video {
  margin: 2rem;
}

#remoteVideo {
  width: 90vw;
  height: auto;
  border-radius:40px;
  border: 3px solid #FFFFFF;
  background: linear-gradient(155deg, rgba(163,163,163,1) -20%, rgba(255,255,255,1) 50%, rgba(163,163,163,1) 120%);
}

#webcamVideo {
  width: 20vw;
  height: auto;
  background: linear-gradient(155deg, rgba(204,204,204,1) -10%, rgba(255,255,255,1) 50%, rgba(204,204,204,1) 140%);
  border-radius: 15px 50px;
  border: 2px solid #FFFFFF;
}

#dragMe {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
}

button {
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid #FFFFFF;
  padding: 10px 20px;
  margin: 5px;
  background: linear-gradient(345deg, rgba(204,204,204,1) 0%, rgba(255, 255, 255, 1) 60%);
}

button:disabled {
  background: white;
}

#callInput {
  border-radius: 10px;
  padding: 10px 20px;
  border: 2px solid #FFFFFF;
}
